.body{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav{
    background-color: burlywood;
    padding: 0.1%;
}

.line{
    display: flex;
    justify-content: space-around;
}

.head_element{
    display: inline;
}

.main{
    color:black;
}

.avatar{
    width: 5%;
    border-radius: 50%;
}


.footer{
    height: 5%;
    background-color: brown;
}
