*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
.head_element{
    display: inline;
}



.body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100%;
}

.nav{
    background-color: burlywood;
    padding: 0.1%;
}

.line{
    display: flex;
    justify-content: space-around;
}


.main{
    color:black;
}

.avatar{
    width: 5%;
    border-radius: 50%;
}


.footer{
    height: 5%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}