
.nav{
    background-color: burlywood;
    padding: 0.1%;
}

.line{
    display: flex;
    justify-content: space-around;
}

.head_element{
    display: inline;
}
.avatar{
    width: 5%;
    border-radius: 50%;
}


.footer{
    height: 5%;
    background-color: brown;
}
