html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}


.head_element{
    display: inline;
}



.body{
    zoom: 1.5;
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav{
    background-color: burlywood;
    padding: 0.1%;
}

.line{
    display: flex;
    justify-content: space-around;
}


.main{
    color:black;
    flex-grow: 1;
}

.avatar{
    border-radius: 50%;
}


.footer{
    height: 5%;
    background-color: brown;
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    flex-shrink: 0;
}

.spec{
    list-style: none;
    line-height: 20px;
    padding: 0 20px;
}
